name: test

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  # Cancel previous actions from the same PR: https://stackoverflow.com/a/72408109
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  # matrix-prep-* steps generate JSON used to create a dynamic actions matrix.
  # Inspired from
  # https://stackoverflow.com/questions/65384420/how-to-make-a-github-action-matrix-element-conditional

  matrix-prep-os:
    # Prepares the 'os' axis of the test matrix, to reduce costs since GitHub hosted runners cost more on some platforms.
    # https://docs.github.com/en/billing/managing-billing-for-github-actions/about-billing-for-github-actions#included-storage-and-minutes
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - id: linux
        run: echo "os=ubuntu-latest" >> $GITHUB_OUTPUT
    outputs:
      # Will look like ["ubuntu-latest"]
      os: ${{ toJSON(steps.*.outputs.os) }}

  matrix-prep-bazelversion:
    # Prepares the 'bazelversion' axis of the test matrix
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - id: bazel_83
        run: echo "bazelversion=8.3.0" >> $GITHUB_OUTPUT
      - id: bazel_76
        run: echo "bazelversion=7.6.1" >> $GITHUB_OUTPUT
      - id: bazel_6
        run: echo "bazelversion=6.5.0" >> $GITHUB_OUTPUT
    outputs:
      # Will look like ["<version from .bazelversion>", "x.y.z"]
      bazelversions: ${{ toJSON(steps.*.outputs.bazelversion) }}

  test:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    needs:
      - matrix-prep-bazelversion
      - matrix-prep-os

    # Run bazel test in each workspace with each version of Bazel supported
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(needs.matrix-prep-os.outputs.os) }}
        bazelversion: ${{ fromJSON(needs.matrix-prep-bazelversion.outputs.bazelversions) }}
        folder:
          - .
          - e2e/smoke
        exclude:
          # Root module uses newer stardoc that requires Bazel 7 or greater
          - bazelversion: 6.5.0
            folder: .

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: bazel-contrib/setup-bazel@083175551ceeceebc757ebee2127fde78840ca77 # v0.18.0
        with:
          repository-cache: true
          bazelrc: |
            common --announce_rc --color=yes --enable_bzlmod
            test --test_output=errors

      - name: Configure Bazel version
        working-directory: ${{ matrix.folder }}
        run: echo "${{ matrix.bazelversion }}" > .bazelversion

      # See https://github.com/bazel-contrib/publish-to-bcr#including-patches
      - name: verify bcr patches
        if: hashFiles('.bcr/patches/*.patch') != ''
        run: patch --dry-run -p1 < .bcr/patches/*.patch

      # Required for rules_apko to make range requests
      - name: Add bazel 6 workaround
        if: ${{ matrix.bazelversion == '6.5.0' }}
        run: echo 'try-import %workspace%/.apko/.bazelrc' >> .bazelrc

      - name: Test
        working-directory: ${{ matrix.folder }}
        if: ${{ startsWith(matrix.bazelversion, '8.') || matrix.folder != '.' }}
        run: bazel test //...

      # Stardoc has output changes between versions
      - name: Test no doc 7
        working-directory: ${{ matrix.folder }}
        if: ${{ startsWith(matrix.bazelversion, '7.') && matrix.folder == '.' }}
        run: bazel query 'tests(//...) except docs/...' | xargs bazel test
