# Cut a release whenever a new tag is pushed to the repo.
# You should use an annotated tag, like `git tag -a v1.2.3`
# and put the release notes into the commit message for the tag.
name: Release

on:
  schedule:
    - cron: '30 10 * * 1' # every Monday at 10:30 UTC
  workflow_dispatch:

permissions: {}

jobs:
  gh-release:
    permissions:
      id-token: write
      contents: write
      attestations: write
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # fetch all history for all branches and tags

      - name: Calculate version bump
        id: create_tag
        uses: chainguard-dev/actions/git-tag@f77a7c3431f961556be5a41e2602c450a590f3e5 # v1.5.12
        with:
          bump_level: patch
          dry_run: true
          use-gitsign: false

      - name: Create immutable source code release with tag
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          TAG=${{ steps.create_tag.outputs.git_tag }}
          PREFIX="rules_apko-${{ steps.create_tag.outputs.bumped_version }}"
          ARCHIVE="rules_apko-$TAG.tar.gz"
          git archive --format=tar.gz --prefix=${PREFIX}/ ${{ github.sha }} > $ARCHIVE
          gh release create ${TAG} --fail-on-no-commits --target ${{ github.sha }} --generate-notes $ARCHIVE
