# Cut a release whenever a new tag is pushed to the repo.
# You should use an annotated tag, like `git tag -a v1.2.3`
# and put the release notes into the commit message for the tag.
name: Release

on:
  schedule:
    - cron: '30 10 * * 1' # every Monday at 10:30 UTC
  workflow_dispatch:

permissions: {}

jobs:
  gh-release:
    permissions:
      id-token: write
      contents: write
      attestations: write
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # fetch all history for all branches and tags

      - name: Calculate version bump
        id: create_tag
        uses: chainguard-dev/actions/git-tag@6f74cdeee55d70b03fa220746d6739dbbb3e9421 # v1.5.15
        with:
          bump_level: patch
          dry_run: true
          use-gitsign: false

      - name: Create immutable source code release with tag
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          TAG=${{ steps.create_tag.outputs.git_tag }}
          PREFIX="rules_apko-${{ steps.create_tag.outputs.bumped_version }}"
          ARCHIVE="rules_apko-$TAG.tar.gz"
          git archive --format=tar.gz --prefix=${PREFIX}/ ${{ github.sha }} > $ARCHIVE
          gh release create ${TAG} --fail-on-no-commits --target ${{ github.sha }} --generate-notes $ARCHIVE
