# Cut a release whenever a new tag is pushed to the repo.
# You should use an annotated tag, like `git tag -a v1.2.3`
# and put the release notes into the commit message for the tag.
name: Release

on:
  schedule:
    - cron: '30 10 * * 1' # every Monday at 10:30 UTC
  workflow_dispatch:

permissions: {}

jobs:
  gh-release:
    permissions:
      id-token: write
      contents: write
      attestations: write
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # fetch all history for all branches and tags

      - name: Calculate version bump
        id: create_tag
        uses: chainguard-dev/actions/git-tag@b479012116eacde7f895586c17b598f7ba0ee700 # v1.5.9
        with:
          bump_level: patch
          dry_run: true
          use-gitsign: false

      - name: Create immutable source code release with tag
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          TAG=${{ steps.create_tag.outputs.git_tag }}
          PREFIX="rules_apko-${{ steps.create_tag.outputs.bumped_version }}"
          ARCHIVE="rules_apko-$TAG.tar.gz"
          git archive --format=tar.gz --prefix=${PREFIX}/ ${{ github.sha }} > $ARCHIVE
          gh release create ${TAG} --fail-on-no-commits --target ${{ github.sha }} --generate-notes $ARCHIVE
